<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlightAnalyzer.Properties.Settings>
            <setting name="Date" serializeAs="String">
                <value>2010-06-15</value>
            </setting>
            <setting name="TimeZone" serializeAs="String">
                <value>02:00:00</value>
            </setting>
            <setting name="Datum" serializeAs="String">
                <value>European 1950</value>
            </setting>
            <setting name="UtmZone" serializeAs="String">
                <value>31T</value>
            </setting>
            <setting name="Qnh" serializeAs="String">
                <value>1013</value>
            </setting>
            <setting name="DefaultAltitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinVelocity" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="MaxAcceleration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="InterpolationInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Am" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GoalsFile" serializeAs="String">
                <value>%HOMEDRIVE%%HOMEPATH%\goals.wpt</value>
            </setting>
        </FlightAnalyzer.Properties.Settings>
    </userSettings>
</configuration>