<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="TimeStampTraceListener"
            type="AXToolbox.Common.TimeStampTraceListener, AXToolbox.Common"
            initializeData="FlightAnalyzer.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
